MONGODB_URI= mongodb+srv://anjanisachinika72_db_user:20030611@cluster0.mgwy5gz.mongodb.net/?appName=Cluster0
DATABASE_NAME=mediconnect
JWT_SECRET= mediconnect
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7
